@page
@model Links
@{
    ViewData["Title"] = "Links";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li><a href="http://localhost:5080" target="_blank">pgAdmin</a></li>
    <li><a href="http://localhost:15672" target="_blank">RabbitMq</a></li>
    <li><a href="http://localhost:3001" target="_blank">Seq</a></li>
</ul>